@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   In the bank<br />
    Plovdiv,Plovdiv<br />
    <abbr title="Phone">Phone:</abbr>
   <br /> 123-123-213<br />
    123-123-321<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zdr@zdr.com">Support@zdr.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:asl@asl.com">Marketing@asl.com</a>
</address>