
@{
    ViewBag.Title = "Privacy";
}



<header><h1>Privacy Policy</h1></header>
<div>
    <p> <b>1.</b>The following statement applies to the BSv2 website <a href="#text">http://nqmametakav.com</a> and describes the policy of the BSv2 on the collection and use of personal information - ie information which personally identifies a User, such as a User's name, address, e-mail address or phone number. Links to other websites from this website are not covered by this policy.<br />

<br /><b>2.</b>The BSv2 makes a record of every visit by a User to this website, and logs the following information for statistical purposes so that it can continuously improve the structure of the site:
<br /><b>-</b> the User's internet protocol (IP) address or domain name, depending on the User's server environment (but not the User's e-mail address);
<br /><b>-</b> the date and time of the visit;
<br /><b>-</b> the pages accessed by the User and the documents downloaded;
<br /><b>-</b> the web page or website that directs the User to the BSv2 website;
<br /><b>-</b> any central bank website the User visits using a link from this website; 
<br /><b>-</b> the type of browser used.

<br /> <br />   <b>3.</b>Most web browsers automatically accept cookies, but the browser can usually be set to prevent this. Users may wish to consult the Help file of their web browser to find out more about this option.
    

    </p>
    </div>