
@{
    ViewBag.Title = "Strategy";
}

<header><h1>Strategy</h1></header>
<div>
    <p>
        Strategic planning is at the core of the BSv2's operations enabling the Bank to increase efficiency and pursue its mission as a multilateral development institution.<br />
        Strategic planning documental system comprises the following levels:
    </p>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


    <div class="w3-container">
       
        <div class="w3-panel w3-green w3-round-xlarge">
            <p>
               <b>Strategic Level(3-5 years)</b> <br />
                Decision-making level:Council of the Bank,Board of the Bank<br />
                Bank's development strategies<br />
                Country strategies<br />
                Medium-term business plan<br />
            </p>
        </div>
    </div>
    <div class="w3-container">
        
        <div class="w3-panel w3-green w3-round-xlarge">
            <p>
                <b>Tactical Level(1 year)</b><br />
                Decision-making level: Council of the Bank,Board of the Bank<br />
                Annual business plan<br />
                Budget of the Bank<br />
            </p>
        </div>
    </div>
    <div class="w3-container">

        <div class="w3-panel w3-green w3-round-xlarge">
            <p>
                <b>Operational Level(1 year)</b><br />
                Decision-making level: Board of the Bank<br />
                Lending activities development plan<br />
                Business units work plan<br />
            </p>
        </div>
    </div>

</div>


